In [1]:
from requests import get
url = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1'
response = get(url)
print(response.text[:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle",

In [2]:
from bs4 import BeautifulSoup
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [3]:
movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')  
print(type(movie_containers))
print(len(movie_containers))
first_movie = movie_containers[0]

<class 'bs4.element.ResultSet'>
50

In [4]:
print(first_movie)

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt3315342/"> <img alt="Logan" class="loadlate" data-tconst="tt3315342" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB470041630_.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>
<p class="text-muted">
<span class="certificate">R</span>
<span class="ghost">|</span>
<span class="runtime">137 min</span>
<span class="ghost">|</span>
<span class="genre">
Action, Drama, Sci-Fi            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="8.1" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>8.1</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt3315342" id="urv_tt3315342">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt3315342">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt3315342|imdb|8.1|8.1|||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 8.1/10 (546,325 votes) - click stars to rate">
<meta content="8.1" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="546325" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb" style="width: 113.4px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating"><span class="value">8.1</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel"><a href="/title/tt3315342/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">77        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.</p>
<p class="">
    Director:
<a href="/name/nm0003506/">James Mangold</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0413168/">Hugh Jackman</a>,
<a href="/name/nm0001772/">Patrick Stewart</a>,
<a href="/name/nm6748436/">Dafne Keen</a>,
<a href="/name/nm2933542/">Boyd Holbrook</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="546325" name="nv">546,325</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="226,277,068" name="nv">$226.28M</span>
</p>
</div>
</div>

In [5]:
first_name = first_movie.h3.a.text
first_name

'Logan'

In [6]:
first_year = first_movie.h3.find('span', class_ = 'lister-item-year text-muted unbold').text
first_year

'(2017)'

In [7]:
first_movie.strong

In [8]:
first_imdb = float(first_movie.strong.text)
first_imdb

8.1

In [9]:
first_mscore = first_movie.find('span', class_ = 'metascore favorable')
first_mscore = int(first_mscore.text)
print(first_mscore)

77

In [10]:
first_votes = first_movie.find('span', attrs = {'name':'nv'})
first_votes

In [11]:
first_votes['data-value']

'546325'

In [12]:
first_votes = int(first_votes['data-value'])

In [13]:
first_votes

546325

In [44]:
description = first_movie.find('div', class_ = 'lister-item-content').findAll('p', class_ = 'text-muted')[1].text.lstrip()

In [45]:
description

'In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.'

In [46]:
eighth_movie_mscore = movie_containers[7].find('div', class_ = 'ratings-metascore')
type(eighth_movie_mscore)

bs4.element.Tag

In [47]:
# Lists to store the scraped data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
descriptions = []
# Extract data from individual movie container
for container in movie_containers:
    # If the movie has Metascore, then extract:
    if container.find('div', class_ = 'ratings-metascore') is not None:
        # The name
        name = container.h3.a.text
        names.append(name)
        # The year
        year = container.h3.find('span', class_ = 'lister-item-year').text
        years.append(year)
        # The IMDB rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        # The Metascore
        m_score = container.find('span', class_ = 'metascore').text
        metascores.append(int(m_score))
        # The number of votes
        vote = container.find('span', attrs = {'name':'nv'})['data-value']
        votes.append(int(vote))
        # The descriptions
        descp = container.find('div', class_ = 'lister-item-content').findAll('p', class_ = 'text-muted')[1].text.lstrip()
        descriptions.append(descp)

In [49]:
import pandas as pd
test_df = pd.DataFrame({'movie': names,
                       'year': years,
                       'imdb': imdb_ratings,
                       'metascore': metascores,
                       'votes': votes,
                        'descriptions': descriptions
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 6 columns):
movie           45 non-null object
year            45 non-null object
imdb            45 non-null float64
metascore       45 non-null int64
votes           45 non-null int64
descriptions    45 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.2+ KB
None

,movie,year,imdb,metascore,votes,descriptions
0,Logan,(2017),8.1,77,546325,"In a future where mutants are nearly extinct, ..."
1,Wonder Woman,(2017),7.5,76,476171,When a pilot crashes and tells of conflict in ...
2,Guardians of the Galaxy Vol. 2,(2017),7.7,67,461037,The Guardians struggle to keep together as a t...
3,Dunkirk,(2017),7.9,94,457189,"Allied soldiers from Belgium, the British Empi..."
4,Star Wars: Episode VIII - The Last Jedi,(2017),7.2,85,452703,Rey develops her newly discovered abilities wi...
5,Thor: Ragnarok,(2017),7.9,74,452463,"Thor is imprisoned on the planet Sakaar, and m..."
6,Spider-Man: Homecoming,(2017),7.5,73,405002,Peter Parker balances his life as an ordinary ...
7,Get Out,(I) (2017),7.7,84,386203,A young African-American visits his white girl...
8,Blade Runner 2049,(2017),8.0,81,369307,A young blade runner's discovery of a long-bur...
9,Baby Driver,(2017),7.6,86,353724,After being coerced into working for a crime b...
10,It,(I) (2017),7.4,69,346748,"In the summer of 1989, a group of bullied kids..."
11,"Three Billboards Outside Ebbing, Missouri",(2017),8.2,88,333574,A mother personally challenges the local autho...
12,Justice League,(2017),6.5,45,321226,Fueled by his restored faith in humanity and i...
13,The Shape of Water,(2017),7.3,87,299875,At a top secret research facility in the 1960s...
14,John Wick: Chapter 2,(2017),7.5,75,267401,After returning to the criminal underworld to ...
15,Coco,(I) (2017),8.4,81,265906,"Aspiring musician Miguel, confronted with his ..."
16,Jumanji: Welcome to the Jungle,(2017),7.0,58,236351,Four teenagers are sucked into a magical video...
17,Beauty and the Beast,(2017),7.2,65,233637,A selfish prince is cursed to become a monster...
18,Kong: Skull Island,(2017),6.6,62,231816,"After the Vietnam war, a team of scientists ex..."
19,Kingsman: The Golden Circle,(2017),6.8,44,224975,When their headquarters are destroyed and the ...
20,Pirates of the Caribbean: Dead Men Tell No Tales,(2017),6.6,39,223798,Captain Jack Sparrow searches for the trident ...
21,Alien: Covenant,(2017),6.4,65,223093,"The crew of a colony ship, bound for a remote ..."
22,War for the Planet of the Apes,(2017),7.5,82,198015,"After the apes suffer unimaginable losses, Cae..."
23,The Greatest Showman,(2017),7.6,48,194858,Celebrates the birth of show business and tell...
24,Life,(I) (2017),6.6,54,179857,A team of scientists aboard the International ...
25,The Fate of the Furious,(2017),6.7,56,176808,When a mysterious woman seduces Dom into the w...
26,Murder on the Orient Express,(2017),6.5,52,175375,When a murder occurs on the train on which he'...
27,Ghost in the Shell,(2017),6.4,52,173464,"In the near future, Major Mira Killian is the ..."
28,Lady Bird,(2017),7.4,94,172964,"In 2002, an artistically inclined seventeen-ye..."
29,King Arthur: Legend of the Sword,(2017),6.8,41,165937,"Robbed of his birthright, Arthur comes up the ..."
30,Wind River,(2017),7.7,73,165044,A veteran hunter helps an FBI agent investigat...
31,The Hitman's Bodyguard,(2017),6.9,47,158553,"The world's top bodyguard gets a new client, a..."
32,Mother!,(2017),6.6,75,152459,A couple's relationship is tested when uninvit...
33,The Mummy,(2017),5.5,34,151127,An ancient Egyptian princess is awakened from ...
34,Call Me by Your Name,(2017),7.9,93,149343,"In 1980s Italy, a romance blossoms between a s..."
35,Atomic Blonde,(2017),6.7,63,146877,An undercover MI6 agent is sent to Berlin duri...
36,Bright,(I) (2017),6.4,29,145676,A detective must work with an Orc to find a po...
37,"I, Tonya",(2017),7.5,77,137388,Competitive ice skater Tonya Harding rises amo...
38,Valerian and the City of a Thousand Planets,(2017),6.5,51,137238,"A dark force threatens Alpha, a vast metropoli..."
39,Darkest Hour,(2017),7.4,75,133431,"In May 1940, the fate of Western Europe hangs ..."
40,Baywatch,(2017),5.6,37,132211,Devoted lifeguard Mitch Buchannon butts heads ...
41,American Made,(2017),7.2,65,127701,"The story of Barry Seal, an American pilot who..."
42,Transformers: The Last Knight,(2017),5.2,27,116352,A deadly threat from Earth's history reappears...
43,The Lego Batman Movie,(2017),7.3,75,114214,A cooler-than-ever Bruce Wayne must deal with ...
44,The Disaster Artist,(2017),7.4,76,109162,"When Greg Sestero, an aspiring film actor, mee..."

In [50]:
headers = {"Accept-Language": "en-US, en;q=0.5"}

In [51]:
pages = [str(i) for i in range(1,5)]
years_url = [str(i) for i in range(2000,2018)]

In [52]:
from time import sleep
from random import randint

In [53]:
from time import time
start_time = time()
requests = 0
for _ in range(5):
    # A request would go here
    requests += 1
    sleep(randint(1,3))
    elapsed_time = time() - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))

Request: 1; Frequency: 0.9963117284280533 requests/s
Request: 2; Frequency: 0.49886034017097514 requests/s
Request: 3; Frequency: 0.42768343577232765 requests/s
Request: 4; Frequency: 0.4434458531751895 requests/s
Request: 5; Frequency: 0.41579485609623695 requests/s

In [54]:
from IPython.core.display import clear_output
start_time = time()
requests = 0
for _ in range(5):
    # A request would go here
    requests += 1
    sleep(randint(1,3))
    current_time = time()
    elapsed_time = current_time - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

Request: 5; Frequency: 0.7106142796552121 requests/s

In [55]:
from warnings import warn
warn("Warning Simulation")

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Warning Simulation

In [56]:
# Redeclaring the lists to store data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
descriptions = []
# Preparing the monitoring of the loop
start_time = time()
requests = 0

# For every year in the interval 2000-2017
for year_url in years_url:

    # For every page in the interval 1-4
    for page in pages:

        # Make a get request
        response = get('http://www.imdb.com/search/title?release_date=' + year_url +
        '&sort=num_votes,desc&page=' + page, headers = headers)

        # Pause the loop
        sleep(randint(8,15))

        # Monitor the requests
        requests += 1
        elapsed_time = time() - start_time
        print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
        clear_output(wait = True)

        # Throw a warning for non-200 status codes
        if response.status_code != 200:
            warn('Request: {}; Status code: {}'.format(requests, response.status_code))

        # Break the loop if the number of requests is greater than expected
        if requests > 72:
            warn('Number of requests was greater than expected.')
            break

        # Parse the content of the request with BeautifulSoup
        page_html = BeautifulSoup(response.text, 'html.parser')

        # Select all the 50 movie containers from a single page
        mv_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')

        # For every movie of these 50
        for container in mv_containers:
            # If the movie has a Metascore, then:
            if container.find('div', class_ = 'ratings-metascore') is not None:

                # Scrape the name
                name = container.h3.a.text
                names.append(name)

                # Scrape the year
                year = container.h3.find('span', class_ = 'lister-item-year').text
                years.append(year)

                # Scrape the IMDB rating
                imdb = float(container.strong.text)
                imdb_ratings.append(imdb)

                # Scrape the Metascore
                m_score = container.find('span', class_ = 'metascore').text
                metascores.append(int(m_score))

                # Scrape the number of votes
                vote = container.find('span', attrs = {'name':'nv'})['data-value']
                votes.append(int(vote))
                
                # Scrape the descriptions
                descp = container.find('div', class_ = 'lister-item-content').findAll('p', class_ = 'text-muted')[1].text.lstrip()
                descriptions.append(descp)

Request:72; Frequency: 0.07522643234906264 requests/s

In [57]:
movie_ratings = pd.DataFrame({'movie': names,
                              'year': years,
                              'imdb': imdb_ratings,
                              'metascore': metascores,
                              'votes': votes,
                              'descriptions': descriptions
})
print(movie_ratings.info())
movie_ratings.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3296 entries, 0 to 3295
Data columns (total 6 columns):
movie           3296 non-null object
year            3296 non-null object
imdb            3296 non-null float64
metascore       3296 non-null int64
votes           3296 non-null int64
descriptions    3296 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 154.6+ KB
None

,movie,year,imdb,metascore,votes,descriptions
0,Gladiator,(2000),8.5,67,1198157,A former Roman General sets out to exact venge...
1,Memento,(2000),8.5,80,1021383,A man with short-term memory loss attempts to ...
2,Snatch,(2000),8.3,55,711717,"Unscrupulous boxing promoters, violent bookmak..."
3,Requiem for a Dream,(2000),8.3,68,693282,The drug-induced utopias of four Coney Island ...
4,X-Men,(2000),7.4,64,530682,In a world where mutants (evolved super-powere...
5,Cast Away,(2000),7.8,73,468853,A FedEx executive undergoes a physical and emo...
6,American Psycho,(2000),7.6,64,426612,A wealthy New York City investment banking exe...
7,Unbreakable,(2000),7.3,62,343308,A man learns something extraordinary about him...
8,Meet the Parents,(2000),7.0,73,291666,Male nurse Greg Focker meets his girlfriend's ...
9,Mission: Impossible II,(2000),6.1,59,288655,"IMF Agent Ethan Hunt is sent to Sydney, to fin..."

In [58]:
movie_ratings = pd.DataFrame({'movie': names,
                              'year': years,
                              'imdb': imdb_ratings,
                              'metascore': metascores,
                              'votes': votes,
                              'descriptions': descriptions
})
print(movie_ratings.info())
movie_ratings.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3296 entries, 0 to 3295
Data columns (total 6 columns):
movie           3296 non-null object
year            3296 non-null object
imdb            3296 non-null float64
metascore       3296 non-null int64
votes           3296 non-null int64
descriptions    3296 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 154.6+ KB
None

,movie,year,imdb,metascore,votes,descriptions
0,Gladiator,(2000),8.5,67,1198157,A former Roman General sets out to exact venge...
1,Memento,(2000),8.5,80,1021383,A man with short-term memory loss attempts to ...
2,Snatch,(2000),8.3,55,711717,"Unscrupulous boxing promoters, violent bookmak..."
3,Requiem for a Dream,(2000),8.3,68,693282,The drug-induced utopias of four Coney Island ...
4,X-Men,(2000),7.4,64,530682,In a world where mutants (evolved super-powere...
5,Cast Away,(2000),7.8,73,468853,A FedEx executive undergoes a physical and emo...
6,American Psycho,(2000),7.6,64,426612,A wealthy New York City investment banking exe...
7,Unbreakable,(2000),7.3,62,343308,A man learns something extraordinary about him...
8,Meet the Parents,(2000),7.0,73,291666,Male nurse Greg Focker meets his girlfriend's ...
9,Mission: Impossible II,(2000),6.1,59,288655,"IMF Agent Ethan Hunt is sent to Sydney, to fin..."

In [59]:
movie_ratings = movie_ratings[['movie', 'year', 'imdb', 'metascore', 'votes', 'descriptions']]
movie_ratings.head()

,movie,year,imdb,metascore,votes,descriptions
0,Gladiator,(2000),8.5,67,1198157,A former Roman General sets out to exact venge...
1,Memento,(2000),8.5,80,1021383,A man with short-term memory loss attempts to ...
2,Snatch,(2000),8.3,55,711717,"Unscrupulous boxing promoters, violent bookmak..."
3,Requiem for a Dream,(2000),8.3,68,693282,The drug-induced utopias of four Coney Island ...
4,X-Men,(2000),7.4,64,530682,In a world where mutants (evolved super-powere...

In [60]:
movie_ratings['year'].unique()

array(['(2000)', '(I) (2000)', '(2001)', '(2002)', '(2003)', '(2004)',
       '(I) (2004)', '(2005)', '(I) (2005)', '(2006)', '(I) (2006)',
       '(2007)', '(I) (2007)', '(2008)', '(I) (2008)', '(2009)',
       '(I) (2009)', '(2010)', '(I) (2010)', '(2011)', '(I) (2011)',
       '(2012)', '(I) (2012)', '(2013)', '(I) (2013)', '(2014)',
       '(I) (2014)', '(II) (2014)', '(2015)', '(I) (2015)', '(II) (2015)',
       '(2016)', '(II) (2016)', '(I) (2016)', '(IX) (2016)', '(2017)',
       '(I) (2017)'], dtype=object)

In [61]:
movie_ratings.loc[:, 'year'] = movie_ratings['year'].str[-5:-1].astype(int)

In [62]:
movie_ratings['year'].head(3)

0    2000
1    2000
2    2000
Name: year, dtype: int64

In [63]:
movie_ratings.describe().loc[['min', 'max'], ['imdb', 'metascore']]

     imdb  metascore
min   4.1       24.0
max   9.0      100.0

In [64]:
movie_ratings['n_imdb'] = movie_ratings['imdb'] * 10
movie_ratings.head(3)

,movie,year,imdb,metascore,votes,descriptions,n_imdb
0,Gladiator,2000,8.5,67,1198157,A former Roman General sets out to exact venge...,85.0
1,Memento,2000,8.5,80,1021383,A man with short-term memory loss attempts to ...,85.0
2,Snatch,2000,8.3,55,711717,"Unscrupulous boxing promoters, violent bookmak...",83.0

In [65]:
movie_ratings.to_csv('movie_ratings.csv')